button {
    border: none;
    background-color: var(--color-alt);
    border-radius: 5px;
    color: var(--color-secondary);
    padding: 8px 16px;
    margin: 64px;

    font-family: inherit;
    font-weight: 700;

    transition-duration: 250ms;
}

button:hover {
    background-color: var(--color-primary);
    transform: scale(1.1);
    transition-duration: 250ms;
}

button:active {
    transform: scale(1);
}