
.inner-container {
    margin: 0 auto;
    max-width: 1440px;
}

.center-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 850px) {
    .center-page {
        height: calc(100vh - 117px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
}

