.container {
    width: 100%;
    height: 100%;
}

.box {
    background-color: var(--color-primary);
    background: linear-gradient(145deg, rgba(132,95,160,1) 0%, rgba(92,58,120,1) 100%);
    margin: auto;
    width: 100vw;
    max-width: 850px;
    animation: page-load 500ms 1000ms ease-in-out backwards;
}

.number-slider {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: page-load 500ms 1250ms ease-in-out backwards;
}

.number-slider > span {
    color: var(--color-secondary);
    font-weight: 700;
}

.current {
    font-size: 35vw;
    
}

.previous {
    font-size: 20vw;
    background: linear-gradient(0deg, rgba(255,255,255,1) -20%, rgba(92,58,120,0) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .5;
    filter: blur(3px);
}

.second-previous {
    opacity: 0;
}

@media only screen and (min-width: 850px) {
    .box {
        height: 300px;
        min-width: 850px;
        border-radius: 20px;
    }

    .number-slider {
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 225px;
        margin-left: -100px;
        max-width: 100%;
        
    }

    .current {
        font-size: 10em;
        /* animation: slide-in-desktop 500ms ease-in-out backwards; */
    }

    .previous {
        font-size: 5em;
        background: linear-gradient(270deg, rgba(255,255,255,1) -20%, rgba(92,58,120,0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* animation: slide-out-desktop 500ms ease-in-out backwards; */
    }

    .second-previous {
        font-size: .5em;
        /* animation: last-slide-desktop 500ms ease-in-out backwards; */
    }
}

@keyframes slide-in-desktop {
    0% {
        transform: translateX(300px);
        opacity: 0;
        filter: blur(3px);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out-desktop {
    0% {
        font-size: 10em;
        transform: translateX(300px);
        background-color: white;
        filter: blur(0);
        opacity: 1;
    }

    100% {
        font-size: 5em;
    }
}

@keyframes last-slide-desktop {
    0% {
        font-size: 5em;
        transform: translateX(300px);
        opacity: 0.5;
    }    

    100% {
        
    }
}